@model ClothingStore.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaSeller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaSeller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaPembeli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaPembeli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProduk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProduk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaProduk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaProduk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHarga)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdOrder">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
